parameters:
	level: 7
	paths:
		- src
		- tests/KdybyTests

	ignoreErrors:
		-
			message: '~Parameter \#1 \$eventName \(string\) of method Kdyby\\Events\\SymfonyDispatcher::dispatch\(\) should be compatible with parameter \$event \(object\) of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\)~'
			path: src/Events/SymfonyDispatcher.php
