events:
	optimize: no
	validate: no
	autowire: yes

services:
	application:
		class: Nette\Application\Application
		factory: Nette\Application\Application

	routerFactory: KdybyTests\Events\RouterFactory
	router:
		factory: [@routerFactory, createRouter]
